drifellascape.art, app.drifellascape.art {
  encode zstd gzip

  handle_path /static/* {
    root * /srv/static
    file_server
  }

  handle {
    root * /srv/releases/current
    try_files {path} {path}/ /index.html
    file_server
  }
}

api.drifellascape.art {
  encode zstd gzip
  reverse_proxy backend:3000
}
