drifellascape.art {
  encode zstd gzip

  @api path /listings* /tokens*
  reverse_proxy @api backend:3000

  handle /static/* {
    root * /srv/static
    file_server
  }

  root * /srv/releases/current
  try_files {path} {path}/ /index.html
  file_server
}
